<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>NServiceBus.WebSphereMQ</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Feeds>
    <Feed Url="http://builds.nservicebus.com/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="NServiceBus" Version="4.0.0-unstable3086" Mode="Float" />
    <Dependency Name="NServiceBus.Interfaces" Version="4.0.0-unstable3041" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.2" Mode="Fixed" />
  </Nugets>
  <Groups />
</ripple>